body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
a {
  color: #00B7FF;
}
.wrap {
  height: 100%;
  width: 100%;
}
.wrap header {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 360px;
  background-color: #00B7FF;
}
